$base-color: red;
$important-color: darkred;
$warning-color: pink;
$principal-font: Georgia, 'Times New Roman', Times, serif;
$secondary-font: 'Courier New', Courier, monospace;
$border-radius: 2px;
$box-shadow: -5px 12px 15px 5px black;