$base-color: blue;
$important-color: darkblue;
$warning-color: lightblue;
$principal-font: Verdana, Geneva, Tahoma, sans-serif;
$secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$border-radius: 8px;
$box-shadow: 5px 12px 15px 5px black;